/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #222;
    color: #FFFBF4;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1200;
    box-sizing: border-box;
}

.sidebar.open {
    left: 0;
}

.close-btn {
    background: none;
    border: none;
    color: #FFFBF4;
    font-size: 2rem;
    cursor: pointer;
    float: right;
}

.sidebar h2 {
    margin-top: 40px;
    font-size: 1.2rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.sidebar li {
    margin: 20px 0;
}
